
/* Hero Section */
.hero {
    position: relative;
    background-image: url('./images/pexels-arkay-768552413-29097725.jpg');
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: #ffca3a;
    color: #1982c4;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ffbf00;
}

/* Services Section */
.services-h {
    background-color: #fff;
    padding: 4rem 2rem;
    text-align: center;
}

.services-h h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.service-box-h {
    background-color: #f8f9fa;
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-box-h img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.service-box-h h3 {
    color: #1982c4;
    margin-bottom: 1rem;
}

.services-h-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.service-box-h:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .services-h-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Why Choose Us Section */
.why-choose-us {
    position: relative;
    background-image: url('./images/pexels-miami302-19225662.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 6rem 2rem;
    margin: 4rem 0;
    color: #fff;
    text-align: center;
}

.why-choose-us::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.why-choose-us-content {
    position: relative;
    z-index: 2;
}

.why-choose-us h4 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.why-choose-us p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .why-choose-us h4 {
        font-size: 1.5rem;
    }
    .why-choose-us p {
        font-size: 1rem;
    }
}

/* Service Location Section */
.service-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.service-location h5 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding-bottom: 50px;
}

.service-location img {
    max-width: 100%;
    height: auto;
    border: 5px solid #000;
}

@media (max-width: 768px) {
    .service-location h5 {
        font-size: 1.5rem;
    }
    .service-location img {
        max-width: 90%;
        height: auto;
        border: 5px solid #000;

    }
}

.company-info {
    position: relative;
    padding: 4rem 2rem;
    text-align: center;
    background-image: url('./images/aboutuspackground.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.company-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(56, 54, 54, 0.5);
    z-index: 1;
}

.company-info h2, .company-info p {
    position: relative;
    z-index: 2;
    padding: 30px 2px;
}

.company-info h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #ff59fe;
}

.company-info p {
    max-width: 800px;
    margin: 0 auto 1.5rem auto;
    font-size: 1.2rem;
    line-height: 1.8;
}
/* 
Game */

.game-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: #4ff372;
    text-align: center;
    padding: 4rem 2rem;
    margin: 4rem 0;
    font-size: 1.2rem;
    
}

/* Remove cursor style from the body */
body {
    cursor: auto;
}

/* Game container cursor style */
.game-container {
    cursor: url('./images/point_scan_24dp_000000_FILL0_wght400_GRAD0_opsz24.png') 25 25, auto;
}

/* Poop image cursor style */
.poop-image {
    cursor: url('./images/poopfacebook.png') 25 25, auto;
}


/* About Us Page */
/* Meet the Troopers Section */
.meet-the-troopers {
    background-color: #f8f9fa;
    padding: 4rem 2rem;
    text-align: center;
}

.meet-the-troopers h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #1982c4;
}

.trooper-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.trooper-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 300px;
    text-align: left;
}

.trooper-card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.trooper-card h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #1982c4;
}

.trooper-card p {
    font-size: 1rem;
    line-height: 1.6;
}

.trooper-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* // Services Page */

/* Services Overview Section */
.services-overview {
    background-image: url('./images/3dogs.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
    text-align: center;
    padding: 120px;
}

.services-overview h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #1982c4;
}

.services-overview p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    padding: 20px;
}

@media (max-width: 768px) {
    .services-overview p {
        font-size: 1rem;
        margin: 0;
    }
}

/* Service Details Section */
.service-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 2rem;
    background-color: #ffca3a;
}



.service-card {
    background-color: #f8f9fa;
    background-size: cover;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 300px;
    text-align: left;
}

.service-card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.service-card2 {
    background-color: #f8f9fa;
    background-size: cover;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 300px;
    text-align: left;
}

.service-card2 img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.service-card3 img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.service-card3 {
background-color: #f8f9fa;
    background-size: cover;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 300px;
    text-align: left;
}

.service-card h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #1982c4;
}

.service-card p {
    font-size: 1rem;
    line-height: 1.6;
}

.service-card2 h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #1982c4;
}

.service-card2 p {
    font-size: 1rem;
    line-height: 1.6;
}

.service-card3 h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #1982c4;
}

.service-card3 p {
    font-size: 1rem;
    line-height: 1.6;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card2:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card3:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Quote Form Section */
.quote-form {
    position: relative;
    padding: 4rem 2rem;
    text-align: center;
    background-image: url('./images/puppies.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}

.quote-form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.quote-form h2, .quote-form p, form {
    position: relative;
    z-index: 2;
}

.quote-form h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #ffd700;
}

.quote-form p {
    max-width: 800px;
    margin: 0 auto 2rem auto;
    font-size: 1.1rem;
    line-height: 1.8;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, textarea {
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

button {
    background-color: #1982c4;
    color: #fff;
    padding: 0.75rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

/* Contact Header Section */
.contact-header {
    background-image: url('./images/contactbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 150px 50px;
    text-align: center;
}

.contact-header h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #1982c4;
}

.contact-header p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Contact Info Section */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 2rem;
    background-color: #ff595e;
}


.info-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    min-width: 280px;
}

.info-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}


.info-card h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #1982c4;
}

.info-card p {
    font-size: 1rem;
}

.info-card a {
    color: #1982c4;
    text-decoration: none;
    font-weight: bold;
}

.info-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Contact Form Section */
.contact-form {
    background-image: url(./images/contact2background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4rem 2rem;
    text-align: center;
}

.contact-form h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #1982c4;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

input, textarea {
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

button {
    background-color: #1982c4;
    color: #fff;
    padding: 0.75rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
